@import "tailwindcss";

:root {
  --color-bg: #111111;
  --color-text: #EDEDED;
  --color-accent: #FF5C38;
  --color-border: #2A2A2A;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body), sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
